.button {
  padding: 6px 10px;
  background: tomato;

  border-radius: 7px;
  border: none;

  color: white;
}

.button:disabled {
  background: rgb(221, 145, 132);
  color: rgb(240, 240, 240);
}

.full-width {
  width: 100%;
}
