<section class="container">
  <!-- <app-tasks-list
    title="Текущие задачи"
    [tasks]="newTasks"
    (toggleIsFinishedEvent)="toggleIsFinished($event)"
  >
  </app-tasks-list>
  <app-tasks-list
    title="Завершенные задачи"
    [tasks]="completedTasks"
    (toggleIsFinishedEvent)="toggleIsFinished($event)"
  ></app-tasks-list>

  <section class="input">
    <app-input
      placeholder="Введите текст задачи"
      [formControl]="taskText"
    ></app-input>
    <app-button
      text="Добавить"
      [disabled]="taskText.invalid"
      (click)="addTask()"
    ></app-button>
  </section> -->


</section>
