<form class="form" [formGroup]="loginForm" (submit)="onLogin()">
  <app-input
    label="Логин"
    placeholder="Введите логин"
    fullWidth
    formControlName="login"
  ></app-input>

  <app-input
    label="Пароль"
    placeholder="Введите пароль"
    fullWidth
    formControlName="password"
  ></app-input>
  <app-button
    text="Войти"
    type="submit"
    fullWidth
    [disabled]="loginForm.invalid"
  ></app-button>
  <a class="link" [routerLink]="['../registration']">Зарегистрироваться</a>
</form>
