.alert {
  height: 40px;
  width: 200px;

  position: absolute;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 10px;
}

.success {
  background-color: rgb(72, 186, 72);
  color: white;
}

.error {
  background-color: tomato;
  color: white;
}

.info {
  background-color: rgb(44, 192, 237);
  color: white;
}
