.input {
  padding: 7px 10px;
}

.input-with-label {
  margin-top: 15px;
}

.label {
  position: absolute;
  z-index: 2;
  bottom: 35px;

  font-size: 14px;
}

.container {
  position: relative;
  width: 100%;
}

.full-width {
  width: 100%;
}
