/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: "Segue Regular", Fallback, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Segue Regular";
  src: url("./assets/fonts/Segoe\ UI.ttf") format("ttf");
}

@font-face {
  font-family: "Segue Italic";
  src: url("./assets/fonts/Segoe\ UI\ Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Segue Bold";
  src: url("./assets/fonts/Segoe\ UI\ Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Segue Bold Italic";
  src: url("./assets/fonts/Segoe\ UI\ Bold\ Italic.ttf") format("ttf");
}
